.banner-bg {
    background-image: url('../assets/banner-img.jpg');
    display: block;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cube-container {
    width: 50vw;
    height: 80vh;
    float: right;
    /* padding-right: 100px; */
}

/* Base */

.main-text{
  position: relative;
  color: hsl(0, 0%, 68%);
  font-weight: bold!important;
  font-family: "Anonymous Pro", monospace!important;
  letter-spacing: 7px!important;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: break-spaces;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

.sec-header{
  font-weight: bold!important;
  font-family: "Anonymous Pro", monospace!important;
  letter-spacing: 5px!important;
}

.wrapper {
  overflow-x: hidden;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}


#name {
    color: orangered;
}



@media (max-width: 767.98px)
{
  .cube-container {
    width: 100vw;
    margin-left: 100px;
    height: 80vh;
    margin-top: -70px;
  }

  .responsive-size {
    flex-direction: column;
  }

  .main-text{
    animation: unset;
    text-align: start;
    padding-left: 70px;
    margin-top: 30px;
  }
}