@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

*{
  font-weight: bold!important;
  font-family: "Anonymous Pro", monospace!important;
}
/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #424242;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000000;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2e2e2e;
  }